<div class="container">
    <form #form="ngForm" (ngSubmit)="searchUser()" class="form-busqueda">
        <div class="input-group">
            <input 
                type="text" 
                class="form-control input-busqueda" 
                name="username" 
                placeholder="Buscar usuario..." 
                aria-label="usuario@" 
                [(ngModel)]="txtUser" 
                required>
            <button class="btn btn-success" type="submit">
                <i class="bi bi-search"></i> Buscar
            </button>
        </div>
    </form>
</div>
